.main-bg {
  width: 100%;
  min-height: 450px;
  display: block;
  background: url("/images/banner-main.png");
  background-position: center center;
  background-size: cover;
}
.greyscale {
  min-height: 450px;
  background: rgba(0, 0, 0, 0.5);
}
.greyscale h1 {
  font-family: "Oswald", sans-serif;
  font-size: 45px !important;
  font-weight: 600 !important;
  color: #fff;
}
.greyscale p {
  font-size: 15px;
}
.search-section {
  padding: 10px;
  background-color: #fff;
  border-radius: 40px;
  margin: 0px 80px !important;
}
.DateInput {
  width: 200px !important;
  padding: 0px !important;
}
.DateInput_input {
  padding: 0px !important;
}
.DateInput_input__focused {
  border-bottom: none !important;
  padding: 0px !important;
}
.search-section .book-btn {
  min-width: 200px;
  background-color: #fecb56;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 9px;
  border-radius: 32px;
}
.search-section .book-btn:hover {
  background-color: #fecb56;
  color: #fff;
  border: none;
  box-shadow: none;
}
.search-section .book-btn:focus {
  background-color: #fecb56;
  color: #fff;
  border: none;
  box-shadow: none;
}
.search-heading {
  font-size: 15px;
  margin-bottom: 0px;
  font-family: "Oswald", sans-serif;
}
.search-height {
  height: 45px;
}
#propertySearchGuestCount {
  border: none;
  padding: 0px;
      margin-left: -4px;
    margin-top: -4px;
    font-size: 15px;
    color: #707070;
    font-weight: 300;
}
.select-guest{
  position: relative;
}
.select-guest:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  top: 0;
  right: 0;
}

#propertySearchGuestCount:hover {
  border: none;
  padding: 0px;
}
.form-control:focus {
  border: none !important;
  box-shadow: none !important;
}

.banner-text {
  padding: 0px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}
.main-bg .slick-slide {
  transform: scale(0.8);
}
.main-bg .slick-slide.slick-active.slick-current{
  transform: scale(1);
}
.main-bg .card {
  border: none !important;
  border-radius: 18px !important;
  width: 82%;
  background-color: transparent !important;
}

.main-bg .carousel .slide.selected {
  background: transparent;
}
.main-bg .carousel-dot {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 10px;
}
.main-bg .selected-carousel-dot {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fff;
  margin-bottom: 10px;
  position: relative;
}
.selected-carousel-dot:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: -3px;
  left: -3px;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 2;
}
.main-bg .read-more-btn{
  min-width: 150px;
  color: #fecb56;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 32px;
  background-color: #fff;
  padding: 5px 5px 5px 10px;
}
.main-bg .read-more-btn:hover, .main-bg .read-more-btn:focus, .main-bg .read-more-btn:active{
  /* min-width: 150px; */
  color: #fecb56 !important;
  background-color: #fff !important;
  box-shadow: none !important;
  border: none !important;
  cursor: pointer;
}
.main-bg .arrow-icon{
  color: #fff;
  font-size: 17px;
  padding: 9px 10px;
  border-radius: 25px;
  background-color: #fecb56;
  margin-left: 15px;
}