.main-bg {
  width: 100%;
  min-height: 75vh;
  display: block;
  background: url("/images/banner-main.png");
  background-position: center center;
  background-size: cover;
}
.greyscale {
  min-height: 75vh;
  background: rgba(0, 0, 0, 0.5);
}
.greyscale > .container {
  min-height: 75vh;
}
.greyscale h1 {
  font-family: "Oswald", sans-serif;
  font-size: 45px !important;
  font-weight: 600 !important;
  color: #fff;
}
.greyscale .banner-text {
  font-size: 15px;
  color: #fff;
}
.search-section {
  padding: 10px;
  background-color: #fff;
  border-radius: 40px;
  margin: 0px 80px !important;
}
/*.main-bg .DateInput {*/
/*  width: 22vw !important;*/
/*}*/
.main-bg .DateInput_input {
  padding: 0px !important;
  font-size: 15px;
  color: #707070;
  font-weight: 300;
}
.main-bg .DateInput_input__focused {
  border-bottom: none !important;
  padding: 0px !important;
}
.info-carousel-section {
  min-height: 60vh;
}
.search-section .book-btn {
  background-color: #fecb56;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 11px 20%;
  border-radius: 32px;
}
.search-section .book-btn:hover {
  background-color: #fecb56;
  box-shadow: none;
}
.search-section .book-btn:focus {
  background-color: #fecb56 !important;
  box-shadow: none !important;
}
.search-heading {
  font-size: 15px;
  margin-bottom: 0px;
  font-family: "Oswald", sans-serif;
}
.search-height {
  height: 45px;
}
#propertySearchGuestCount {
  border: none;
  padding: 0px;
  margin-left: -4px;
  margin-top: -4px;
  font-size: 15px;
  color: #707070;
  font-weight: 300;
  -webkit-appearance:none;
}
.select-guest{
  position: relative;
}
.select-guest:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  top: 0;
  right: 0;
}

#propertySearchGuestCount:hover {
  border: none;
  padding: 0px;
  -webkit-appearance:none;
}
.form-control:focus {
  border: none !important;
  box-shadow: none !important;
}

.main-bg .slick-slide {
  transform: scale(0.8);
}
.main-bg .slick-slide.slick-active.slick-current{
  transform: scale(1);
}
.main-bg .card {
  border: none !important;
  /*border-radius: 18px !important;*/
  width: 82%;
  background-color: transparent !important;
}

.main-bg .slick-active .card {
  background-color: #ffffff !important;
}

.main-bg .carousel .slide.selected {
  background: transparent;
}
.main-bg .carousel-dot {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 10px;
}
.main-bg .selected-carousel-dot {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fff;
  margin-bottom: 10px;
  position: relative;
}
.selected-carousel-dot:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: -3px;
  left: -3px;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 2;
}
.main-bg .read-more-btn{
  min-width: 150px;
  color: #fecb56;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 32px;
  background-color: #fff;
  padding: 5px 5px 5px 10px;
}
.main-bg .read-more-btn:hover, .main-bg .read-more-btn:focus, .main-bg .read-more-btn:active{
  color: #fecb56 !important;
  background-color: #fff !important;
  box-shadow: none !important;
  border: none !important;
  cursor: pointer;
}
.main-bg .arrow-icon{
  color: #fff;
  font-size: 17px;
  padding: 9px 10px;
  border-radius: 25px;
  background-color: #fecb56;
  margin-left: 15px;
}
.main-bg .DateRangePickerInput{
  display: flex;
}
.main-bg.search-page, .main-bg.search-page .greyscale{
  min-height: 300px;
  align-items: center;
  display: flex;
  width: 100%;
}
.main-bg.search-page .row .headingbox h2{
  font-family: "Oswald", sans-serif;
  font-size: 45px !important;
  font-weight: 600 !important;
  color: #D1AA77;
}
/*@media (min-width:1440px) {*/
/*  .main-bg .DateInput {*/
/*    width: 14vw !important;*/
/*  }*/
/*}*/
/*@media (max-width:1440px) {*/
/*  .main-bg .DateInput {*/
/*    width: 16.2vw !important;*/
/*  }*/
/*}*/
/*@media (max-width:1366px) {*/
/*  .main-bg .DateInput {*/
/*    width: 18vw !important;*/
/*  }*/
/*}*/
/*@media (max-width:1199px) {*/
/*  .main-bg .DateInput {*/
/*    width: 15.6vw !important;*/
/*  }*/
/*}*/
/*@media (max-width:1024px) {*/
/*  .main-bg .DateInput {*/
/*    width: 18.1vw !important;*/
/*  }*/
/*}*/
@media (max-width:991px) {
  .greyscale h1 {
  font-size: 35px !important;
  padding-left: 25px;
  }
  .main-bg .banner-text {
    padding-left: 27px;
    padding-right: 7px;
  }
  .main-bg .read-more-btn{
    margin-left: 30px;
  }
  .search-section {
    margin: 0px 26px !important;
  }
  /*.main-bg .DateInput {*/
  /*  width: 22.4vw !important;*/
  /*}*/
}
/*@media (max-width:786px) {*/
/*  .main-bg .DateInput {*/
/*    width: 21.8vw !important;*/
/*  }*/
/*}*/
@media (max-width:607px) {
  .search-section .book-btn {
    padding: 11px 18%;
  }
}
@media (max-width:575px) {
  .main-bg .slick-slider{
    margin: 30px 0px 0px 30px;
  }
  .greyscale h1 {
    font-size: 25px !important;
    }
    .main-bg .banner-text {
      font-size: 13px
    }
    .search-section {
      border-radius: 20px;
    }
    /*.main-bg .DateInput {*/
    /*  width: 40.5vw !important;*/
    /*}*/
    .search-section .book-btn {
      padding: 3px 20%;
      margin-top: 12px;
    }
}
/*@media (max-width:480px) {*/
/*  .main-bg .DateInput {*/
/*    width: 39vw !important;*/
/*  }*/
/*}*/
/*@media (max-width:360px) {*/
/*  .main-bg .DateInput {*/
/*    width: 35vw !important;*/
/*  }*/
/*  .main-bg .DateInput:last-child {*/
/*    width: 34vw !important;*/
/*    margin-left: 4px !important;*/
/*  }*/
/*}*/