
.custom-row{
  background-color: #ffffff;
  padding:0 14%;
}
.left-sec h6 {
  font-family: 'Oswald', sans-serif; 
  font-size: 23px;
  color: #e5d0b7;
  text-align: left;
  line-height: 20px;
  text-transform: uppercase;
}
.left-sec h5 {
  color: #b9a37e;
  font-family: 'Oswald', sans-serif; 
  font-size: 41px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  width: 405px;
}

.left-sec p {
color: #b2b1b1;
font-size: 15px;
text-align: left;
line-height: 18px;
}
.left-sec .sub{
  color: #b2b1b1;
font-size: 13px;
}
.left-sec .arrow{
  box-shadow: none;
}
.left-sec button:focus{
  box-shadow: none;
}
.carousel-image{
  box-shadow: 3px 4px 5px #ccc;
}
@media (max-width:991px) {
    .left-sec h5 {
    font-size: 32px;
    width: 350px;
  }
  .custom-row{
    padding:0 10%;
  }
 }
 @media (max-width:860px) {
  .left-sec h5 {
  width: 302px;
}
}
 @media (max-width:786px) {
  .left-sec h5 {
  width: 302px;
}
}
@media (max-width:767px) {
.custom-row{
  padding:0 6%;
}
}
@media (max-width:575px) {
  .left-sec h5 {
    font-size: 27px;
  }
  .left-sec h6 {
    font-size: 18px;
  }
  .left-sec p {
    font-size: 13px;
  }
  }
