@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    /* font-family: 'Oswald', sans-serif; */
body {
  font-family: 'Poppins', sans-serif;
  padding-top: 30px;
}
    

.headingbox h2 {
  font-size: 40px;
  font-weight: 100;
  color: #D1AA77;
}
.headingbox hr {
  border-bottom: 4px double #D1AA77;
  width: 80px;
}
.headingbox p {
  color: #999;
}
.cardbox .card {
  border-radius: 8px;
  overflow: hidden;
  border-bottom: 6px solid #D1AA77;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.card-body .card-title {
  color: #D1AA77;
  font-weight: 700;
}
.card-body .card-text {
  color: #999;
  font-size: 16px;
}
.iconbox i {
  color: #D1AA77;
}
.fixed-bottom {
  background: #333;
}
.fixed-bottom a,
.fixed-bottom .navbar-brand {
  color: #fff !important;
  font-size: 12px;
}
.fixed-bottom a:hover,
.fixed-bottom .navbar-brand:hover {
  color: #D1AA77 !important;
}
.backhome a {
  background: #D1AA77;
  color: #fff;
  font-size: 16px;
  padding: 6px 20px;
  border-radius: 100px;
}
.firebaseui-id-page-sign-in {
  border-radius: 8px;
}
.firebaseui-form-actions .firebaseui-id-submit {
  background: #D1AA77 !important;
  border-radius: 100px;
}
.wifilist h3 {
  color: #D1AA77;
  font-size: 25px;
  font-weight: 600;
}
.optonslist {
  list-style: none;
  padding: 0;
}
.optonslist li {
  margin-bottom: 10px;
}
.butns-view {
  display: inline-flex;
  margin: 10px 0;
}
.butns-view a {
  background: #D1AA77;
  border-radius: 100px;
  text-align: center;
  color: #fff !important;
  margin-right: 10px;
  padding: 4px 30px 6px 30px !important;
}
.clink {
  color: #000;
  margin-right: 10px;
  margin-right: 10px;
}
.dashbox {
  float: left;
  width: 100%;
}
.searchbox.innersearch {
  box-shadow: 0 0 2px #000;
  padding: 0 !important;
}
.imagesbox a {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-right: 15px;
}
.imagesbox a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cributn {
  background: #D1AA77 !important;
  border-radius: 100px !important;
  text-align: center !important;
  color: #fff !important;
  padding: 4px 30px 6px 30px !important;
}
@media (max-width: 1200px) {
  .DateRangePicker.DateRangePicker_1 div:first-child {
    display: inline-flex;
  }
}
@media (max-width: 767px) {
  .searchbox {
    border-radius: 0px;
    width: 310px;
  }
  .DateRangePicker.DateRangePicker_1 div:first-child {
    width: 100%;
  }
  .searchbox .DateInput.DateInput_1:first-child input {
    border-radius: 0px;
  }
  .searchbox
    .DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2 {
    border-radius: 0px;
  }
  .searchbox .searchbutn,
  .searchbox .form-group {
    border-radius: 0px;
    width: 100% !important;
  }
  .searchbox .form-group {
    margin: 0 auto;
  }
  .DateRangePicker.DateRangePicker_1 div:first-child {
    display: block;
    width: 100% !important;
  }
  .DateRangePicker {
    width: 100%;
  }
  .fixed-bottom {
    display: inline-block !important;
  }
  .fixed-bottom .navbar-expand .navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* .main-bg .greyscale {
  filter: grayscale(50%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("/images/home_bg.jpg");
  background-position: center;
  background-size: cover;
} */

.z-index-999 {
  z-index: 999;
}

nav {
  background: none;
}

.cursor-pointer {
  cursor: pointer;
}

.search-chevron {
  font-size: 1.2em;
}

/* .selected-property .card-img-top {
  height: 400px;
  object-fit: cover;
  vertical-align: top;
} */

/* .selected-property .half-image-size {
  height: 200px !important;
} */

.add-image-preview {
  min-height: 150px;
  background-size: contain !important;
  background-position: center !important;
}

.hover-bg-danger:hover {
  color: #fff !important;
  background-color: #df4554 !important;
  cursor: pointer;
}
