.cursor-pointer {
    cursor: pointer;
}

.search-chevron {
    font-size: 1.2em;
}

.selected-property .card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.add-image-preview {
    min-height: 150px;
    background-size: contain!important;
    background-position: center!important;
}

.hover-bg-danger:hover {
    color: #fff!important;
    background-color: #DF4554!important;
    cursor: pointer;
}