.main-bg {
    width: 100%;
    min-height: 350px;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

.main-bg .greyscale {
    filter: grayscale(50%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('/images/home_bg.jpg');
    background-position: center;
    background-size: cover;
}

.z-index-999 {
    z-index: 999;
}

nav {
    background: none;
}

.cursor-pointer {
    cursor: pointer;
}

.search-chevron {
    font-size: 1.2em;
}

.selected-property .card-img-top {
    height: 400px;
    object-fit: cover;
    vertical-align: top;
}

.selected-property .half-image-size {
    height: 200px!important;
}

.add-image-preview {
    min-height: 150px;
    background-size: contain!important;
    background-position: center!important;
}

.hover-bg-danger:hover {
    color: #fff!important;
    background-color: #DF4554!important;
    cursor: pointer;
}