.activities-row{
  background-color: #3e362d;
  padding: 50px;
  text-align: center;
}
.activities-row h5{
  font-family: 'Oswald', sans-serif; 
  font-size: 41px;
  color: #fff;
}
.activities-row h6{
  font-size: 17px;
  color: #fff;
}
.activities-card{
  text-align: left;
  border-radius: 18px !important;
  border: none !important;
  margin: 20px 10px;
  overflow: hidden;
}
.activities-card h5{
  font-family: 'Oswald', sans-serif; 
  font-size: 29px;
  color: #b9a37e;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.activities-card h6{
  color: #e5d0b7;
  font-family: 'Oswald', sans-serif; 
  font-size: 18px;
  text-transform: uppercase;
}
.activities-card p{
  color: #939393!important;
  font-size: 15px !important;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.activities-card button{
  background-color: #b9a37e;
  border-color: #b9a37e;
  color: #fff;
  font-size: 15px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.activities-card button:hover{
  background-color: #b9a37e;
  border-color: #b9a37e;
  box-shadow: none;
}
.activities-card button:focus{
  background-color: #b9a37e;
  border-color: #b9a37e;
  box-shadow: none;
}
.activities-card button:active{
  background-color: #b9a37e !important;
  border-color: #b9a37e !important;
  box-shadow: none !important;
}
.activities-card a{
  padding-left: 10px;
  color: #939393;;
  font-size: 15px;
}
.activities-card a:hover{
  color: #939393;
  cursor: pointer;
}
.activities-row .slick-slide {
  transform: scale(0.8);
}
.activities-row .slick-slide.slick-active.slick-center.slick-current{
  transform: scale(1);
}
.activities-row .arrow {
  transform: scale(0.6);
}
.activities-row .arrow:hover, .activities-row .arrow:focus {
  transform: scale(1);
}
.activities-row button:hover, .activities-row button:focus {
  box-shadow: none;
}
.activities-row .view-all-btn{
  color: #e5d0b7; 
  font-size: 15px;
  position: absolute;
    right: 49px;
    bottom: -44px;
}
.activities-row .view-all-btn-sec{
  position: relative;
}
.activities-row .arrow-icon{
  margin-left: 5px;
}

.heading-border{
  border: 1px solid #b9a37e;
  width: 57%;
  margin-bottom: 15px;
}

@media (max-width:991px) {
  .activities-row h5{
    font-size: 31px;
  }
  .activities-row h6{
    font-size: 15px;
  }
  .activities-row{
    padding: 30px 0px;
  }
}
@media (max-width:575px) {
  .activities-row{
    padding: 30px 40px;
  }
}