.main-navbar {
  margin-bottom: 30px;
}
.main-navbar .navbar {
  background: #fff !important;
  padding: 0px;
}
.main-navbar .navbar div a {
  padding: 0px;
  margin: 0px 5px ;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 19.64px;
  color: #707070;
  border-bottom: 1px solid #fff;
}
.main-navbar .navbar div a:hover {
  color: #b9a37e !important;
  border-bottom: 1px solid #b9a37e;
}
.main-navbar .rightside-nav a:last-child {
  background: #FECB56;
  border-radius: 25px;
  color: #fff !important;
  padding:5px 15px !important;
  text-transform: uppercase;
}
.main-navbar .navbar .rightside-nav.navbar-nav a:last-child:hover {
  color: #fff !important;
  border-bottom: 1px solid #fff;
}
.navbar-brand a{
  margin: 0px !important;
}
@media (max-width:991px) {
  .navbar-brand a{
    margin-left: 12px !important;
  }
  .navbar-light .navbar-toggler {
    margin-right: 12px;
}
.main-navbar .rightside-nav a:last-child {
  width: 15%;
  text-align: center;
  margin-top: 3px;
}
.main-navbar .navbar div a{
  margin-left: 14px;
}
.main-navbar {
  margin-bottom: 12px;
}
}


@media only screen and (max-width: 650px) {
  .resp {
    width: 32% !important;
  }
}