.selected-property h5 {
  color: #d1aa77;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.selected-property h6 {
  /* color: #d1aa77; */
  font-weight: 400;
}
.selected-property .amenity {
  text-transform: capitalize;
}
.selected-property a {
  color: #000;
}
.selected-property a:hover,
.selected-property a:focus {
  color: #d1aa77;
}

.selected-property .fa {
  color: #d1aa77;
}

.selected-property .cributn {
  background-color: #d1aa77;
  border-radius: 25px;
  border: none;
  color: #fff !important;
  padding: 6px 21px !important;
}
.selected-property .cributn:hover, .selected-property .cributn:focus {
  background: #d1aa77;
  border: none;
  box-shadow: none;
}
.selected-property .bnb-image {
  opacity: 0;
}
.selected-property .bnb-image-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.selected-property .bnb-first-img{
  /* width: 50%; */
  border-radius: 15px;
  padding: 10px;
  height: 100%;
}
.selected-property .bnb-other-images{
  width: 50%;
  height: 200px;
  border-radius: 15px;
  padding: 10px;
}
.selected-property .bnb-last-image{
  width: 50%;
  height: 200px;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.selected-property .view-more-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  background: #ccc;
  border-radius: 18px;
  padding: 5px 16px;
  margin: 0px!important;
  cursor: pointer;
}